.watching-video {
    margin: 25px;
    width: 64vw;
    height: 824px;
}
.watching-video img {
    width: 960px;
    height: 515px;
    cursor: pointer;
}

.watching-video h1 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}

.watching-video .subscribe-content img {
    width: 42px;
    height: 42px;
}

.watching-video .subscribe-content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.watching-video .subscribe-content .subscribers{
    margin-left: 8px;
    display: flex;
    flex-direction: row;
}

.watching-video .subscribe-content .subscribers .subscribers-numbers {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.watching-video .subscribe-content .subscribers .subscribers-numbers p {
    font-size: 12px;
}

.watching-video .subscribe-content h1 {
    font-size: 17px;
}

.watching-video .subscribe-content .subscribe-click p {
    background-color: #CC0000;
    color: white;
    margin-top: 5px;
    margin-right: 140px;
    padding: 10px 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.watching-video .subscribe-content .rate-content {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
}

.watching-video .subscribe-content .rate-content img {
    width: 24px;
    height: 24px;
    margin: 3px 5px;
}

.watching-video .subscribe-content .rate-content p {
    margin: 10px 13px 0 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.918);
}
